@{
  Layout = "_Layout";
}

@using Bakery.Models

<h2>Treats</h2>

@if (Model.Count == 0)
{
  <p>No treats added yet</p>
}
@foreach (var treat in Model)
{
  <p>@Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId }) </p>
}